{% load static %}
<html>
<head>
  <title>Appointments</title>
  <link rel="stylesheet" type"text/css" href="{% static 'signin/css/bootstrap.css' %}" />
  <link rel="stylesheet" type"text/css" href="{% static 'signin/css/stylesheet.css' %}" />
  
</head>
<body>

    <div class="appointment-main-container col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

        <h1 class="patient-header">Appointments</h1>

        <div class="appointment-list col-lg-8 col-lg-offset-2">
          {% for appointment in appointments %}
            <a href="{% url 'signin:patient_form' %}?appt_id={{ appointment.id }}&patient_id={{ patient_id }}" class="list-group-item">

              <h4 class="list-group-item-heading">Exam Room {{ appointment.exam_room }}</h4>
              <p class="list-group-item-text">
                 {{appointment.reason}} at {{appointment.start_time}}
              </p>
              <p class="list-group-item-text">
                
              </p>
            </a>
          {% endfor %}
        </div>

        <!--
        <p>{{ appointments }}</p>
      -->
      

        

    </div>

    <script src="{% static 'reminder/js/jquery-3.1.0.min.js' %}"></script>

</body>
</html>



