{% load static %}
<html>
<head>
  <title>Appointments</title>
  <link rel="stylesheet" type"text/css" href="{% static 'signin/css/bootstrap.css' %}" />
  <link rel="stylesheet" type"text/css" href="{% static 'signin/css/stylesheet.css' %}" />
  
</head>
<body>

    <div class="patient-main-container">

        <h1 class="patient-header">Appointments</h1>
        <p>{{ patient_id }}</p>

        

    </div>

    <script src="{% static 'reminder/js/jquery-3.1.0.min.js' %}"></script>

</body>
</html>



