{% load static %}
<html>
<head>
  <title>Thank You</title>
  <link rel="stylesheet" type"text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type"text/css" href="{% static 'signin/css/index.css' %}" />
</head>
<body>

  <div class="login-container">
    <h1>You are now checked in. We will call you when it is time for your appointment. Thank you and have a nice day!</h1>
  </div>

<script type="text/javascript">

    setTimeout(
        function() {
            var urlElem = window.location;
            urlElem.pathname = '/signin/patient_signin'
            window.location.href = uflElem.href;
        },
        5000
    );

</script>
</body>
</html>



