{% load static %}
<html>
<head>
  <title>Birthday Reminder</title>
  <link rel="stylesheet" type"text/css" href="{% static 'reminder/css/bootstrap.css' %}" />
  <link rel="stylesheet" type"text/css" href="{% static 'reminder/css/stylesheet.css' %}" />
</head>
<body>

  <div id="main-container">

    
    <div class="patient-list col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 hidden-xs">      
      <div class='button-container'>
        <div class="btn-group" role="group" aria-label="past-or-upcoming">
          <button type="button" class="btn btn-default active">Upcoming</button>
          <button type="button" class="btn btn-default">Past</button>
        </div>
      </div>


      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">John Smith</h4>
          <p class="list-group-item-text">Birthday is today!</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">John Smith</h4>
          <p class="list-group-item-text">Birthday is today!</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">John Smith</h4>
          <p class="list-group-item-text">Birthday is in 1 day</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">John Smith</h4>
          <p class="list-group-item-text">Birthday is in 2 days</p>  
        </a>
      </div>

    </div>

    <div class="patient-container col-lg-6 col-md-6 col-sm-7 col-xs-12">
      
      <div class='patient-profile'>
        <h3>Patient Name (XX today)</h3>
        
        <div class="profile-pic-container col-xs-4 col-sm-12 col-md-3">
          <img src='https://645953a9c2c98894ea6d-615e987a2b08362dcf1e6ff810ff03b3.ssl.cf5.rackcdn.com/CACHE/images/patient_photos/3bd6f9a1-a88c-4008-9229-ff581f4ff871/41df1651059225e28497e7dfc48e5e79.jpg' class='profile-pic'></img>
        </div>
        <div class="patient-info col-xs-8 col-sm-6 col-md-4">
          <strong>Sex:</strong> Male
          <br>
          <strong>DOB:</strong> 9/10/2002
          <br>
          <strong>Last Visit:</strong> 3/3/3333
        </div>

        <div class="patient-info col-xs-8 col-sm-6 col-md-5">
          <strong>Home:</strong> 333-333-3333
          <br>
          <strong>Office:</strong> 333-333-3333
          <br>
          <strong>Cell:</strong> 333-333-3333
          <br>
          <strong>Email:</strong> XXX@xxx.com
        </div>
      </div>

      <!--

      ADD COMMUNICATION FUNCTIONALITY
      <div class="patient-communication">
        info on communication goes here
      </div>
      -->

    </div>

    

  </div>

</body>
</html>



